[submodule "src/vision_opencv"]
	path = src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
	branch = humble
[submodule "src/oak_ffc_4p_driver_ros2"]
	path = src/oak_ffc_4p_driver_ros2
	url = https://github.com/lis-epfl/oak_ffc_4p_driver_ros2
