[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "src/ros1_bridge"]
	path = src/ros1_bridge
	url = https://github.com/ros2/ros1_bridge.git
[submodule "src/drone_racing"]
	path = src/drone_racing
	url = git@github.com:JulyThirteenth/drone_racing.git
[submodule "src/D2SLAM"]
	path = src/D2SLAM
	url = https://github.com/nat9dai/D2SLAM.git
[submodule "src/driver-oak_ffc_4p_ros"]
	path = src/driver-oak_ffc_4p_ros
	url = https://github.com/nat9dai/driver-oak_ffc_4p_ros.git
[submodule "src/kf_vio_pnp"]
	path = src/kf_vio_pnp
	url = https://github.com/Tianchen-Sun/kf_vio_pnp.git
